/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');



/* impotent Variable */
:root {
    --white-color: #FFF;
    --black-color: #3A3A3A;
    --gray-color: #787885;
    --btn-color: #E02C6D;
    --footer-bg-color: #0A0826;
    --card-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}

body {
    background-color: var(--white-color);
}



/* Target All Element */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    border: none;
    outline: none;
}

.container {
    max-width: 1440px;
    width: 85%;
    margin: 0 auto;
}


/* header-container */
.header-container {
    margin-top: 80px;
}

.header-container>nav {
    display: flex;
    justify-content: space-between;
}

.header-container>nav>ul {
    display: flex;
    align-items: center;
    gap: 25px;
    list-style: none;
}

.header-container>nav>a {
    color: var(--black-color);
    font-size: 1.5rem;
    font-weight: 700;
}

.header-container>nav>ul li a {
    color: var(--black-color);
    font-size: 1rem;
    font-weight: 600;
}

.header-text-container,
.header-image-container {
    width: 50%;
}

.header-container .header-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
}

.header-text-container h1 {
    color: var(--black-color);
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 4.375rem;
}

.header-text-container p {
    color: var(--black-color);
    font-weight: 600;
    margin: 16px 0;
}

.header-text-container button {
    border-radius: 2.5625rem;
    background: var(--btn-color);
    padding: 10px 25px;
    color: var(--white-color);
    font-weight: 700;
    cursor: pointer;
}

.header-text-container button i {
    padding-left: 5px;
}

.header-image-container {
    background: url("../assets/images/Circle\ design.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    text-align: center;
}

.header-image-container img {
    width: 100%;
    animation: ZoomEffect .2s ease-in-out 0s infinite alternate;
}

.logo-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    padding: 44px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-top: 80px;
}

.logo-container div {
    display: flex;
    align-items: center;
}

.logo-container div img {
    width: 100%;
}


/* collection section */
.collection-container {
    margin-top: 100px;
}

.collection-heading {
    color: var(--footer-bg-color);
    font-size: 1.75rem;
    font-weight: 600;
    text-align: center;
    margin: 30px 20px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card-container .card {
    box-shadow: var(--card-box-shadow);
    padding: 15px 17px;
}

.card-container .card>img {
    width: 100%;
}

.card-container .card-title {
    color: var(--black-color);
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 40px;
}

.card-container .card .card-rating-poin,
.card-description {
    color: var(--gray-color);
    font-family: 'Inter', sans-serif;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 143%;
    letter-spacing: 0.252px;
}

.see-more {
    text-align: right;
    color: var(--btn-color);
    font-weight: 700;
    margin-top: 50px;
    cursor: pointer;
}


/* features-container */
.features-container {
    margin-top: 100px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.image-container,
.text-container {
    width: 50%;
}

.image-container img {
    width: 100%;
}

.text-container h1 {
    color: #0A0826;
    font-size: 2.375rem;
    font-weight: 700;
}

.text-container p {
    color: var(--gray-color);
    font-weight: 700;
    line-height: 28px;
    margin: 16px 0;
}

.text-container button {
    color: var(--white-color);
    font-weight: 700;
    padding: 10px 24px;
    background-color: var(--btn-color);
    cursor: pointer;
}


/* footer-container */

.footer-container {
    background-color: var(--footer-bg-color);
    padding: 50px;
    margin-top: 80px;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-container h4 {
    font-size: 1.75rem;
    font-weight: 700;
}

.footer-container p {
    color: #D9DBE1;
    font-family: 'Manrope', sans-serif;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 26px;
}

.footer-container .footer-logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-container .footer-logo i {
    width: 32px;
    height: 32px;
    cursor: pointer;
}